<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Copyright © 2016 <a href="http://klemens.ninja" target="_blank">Jakub Klimek</a></p>
            </div>
        </div>
    </div>
</footer>