{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ place.name }}</h1>
    {{ place.adr_address }}

    <a href="https://maps.google.com/maps/contrib/116407955096729427064/photos">18 Południk - Herbaciarnio-Kawiarnia Podróżnicza</a>
{% endblock %}
