.hand {
    cursor: hand;
    cursor: pointer;
}

.button.ui.blue.button {
    margin-bottom: 0.5em
}
.result-text {
    font-style: italic;
}

.result-text > span {
    color: #2185d0;
    font-weight: bold;
}

.ui-widget-header {
    background: #009CD7 50% 50% repeat-x !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #ccc;
    background: #f6f6f6 50% 50% repeat-x;
    color: #1c94c4;
}

.greyBg {
    background-color: #f8f9fb;
}


html,body {
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    /*padding: 20px;*/
    margin: 0;
    color: #5A5A62;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}


a {
    color: #00aced;
}

span.content {
    white-space: nowrap;
    display: inline-block;
}

span.title {
    display: inline-block;
}

kbd, kbdhead {
    font-size: 50% !important;
    position: relative;
    top: -10px;
}

ul {
    margin-bottom: 0px;
}

.form-control {
    font-size: 16px;
}

/*html, body {*/
/*height: 100%;*/
/*}*/

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -80px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.centerDiv {
    width: 90%;
    margin: 0 auto;
}

.containerNarrow {
    padding-left: 40px;
    padding-right: 40px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    /*height: 100%;*/
}

.similarRow {
    padding-left: 10px;
    padding-right: 10px;
}

/* placeholders */

::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #bbbbbb !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #bbbbbb !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #bbbbbb !important;
}

:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #bbbbbb !important;
}

.modalPlaceholder::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    color: #959595 !important;
}

.leaveEmailInput::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    color: #959595 !important;
}

.inputFieldResults::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    color: #959595 !important;
}

.jumbotron {
    background-color: rgba(0, 156, 215, 0.08);
}

#start_button {
    display: none;
}

.inline {
    display: inline-block;
}

.header {
    /*margin-top: 10px;*/
}

#policy {
    margin-bottom: 50px;
    margin-top: 50px;
}

.recentButton {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    /*font-weight: 700;*/
    color: #32abde;
    width: 240px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 0;
    vertical-align: middle;

    border: 1px solid #32abde;
    border-radius: 4px;
    /*background: #32abde none;*/

}

#contactUsUnderstandDetailsPageContainer {
    margin-top: 13px;
}

.recentButton:focus, .recentButton:hover, .recentButton.active {
    color: #2786ae;
    border: 1px solid #2786ae;
    /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
    /*box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
    /*background-color: #2786ae;*/
}

.recentButtonsContainer {
    position: absolute;
    right: 14px;
}

.mvpTitle {
    margin-bottom: 0px;
    color: #bcbcbc;
}


.modalButton {
    /*height: 55px;*/
    /*width: 100px;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    /*font-size: 5vw;*/
    color: #ffffff;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 4px;
    background-image: none;
    background-color: #32abde;
}

.modalButton:focus, .modalButton:hover {
    color: #ffffff;
    background-color: #2786ae;
}

.modal-dialog {
    width: 70%;
}

.modal-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.modal-footer {
    margin-top: 0;
}

.modalFooterText {
    float: left;
    margin: 0;
    padding-top: 6px;
}

.modalText {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}

.modal-body form {
    margin-top: 20px;
}

.titleMainText {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    text-decoration: none;
    color: #896ad0;
    margin-bottom: 32px;
    margin-top: 32px;
}

.titleNavText {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    text-decoration: none;
    color: #896ad0;
    margin-bottom: 6px;
    margin-top: 6px;
}

.headerNavInput {
    margin-top: 6px;
    margin-bottom: 6px;
}

#additionalNav {
    background-color: white;
}

.titleMainTextWhite {
    color: #ffffff;
}

.titleLogo {
    width: 100px;
    margin-left: 10px;
    padding-bottom: 4px;
}

a.titleLink {
    text-decoration: none;
    color: #896ad0;
}

.titleSubText {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #919191;
    font-size: 13.2px;
    margin-left: 2px;
}

#contactUsInfoMainPage {
    margin-top: 20px;
}

#contactUsUnderstandDetailsPage, #contactUsIfYouWantDetailsPage, #contactUsUnderstandResultsPage, #contactUsUnderstandMainPage {
    font-size: 20px;
    margin-bottom: 0;
    vertical-align: middle;
}

#contactUsUnderstandDetailsPageButton, #contactUsIfYouWantDetailsPageButton,
#contactUsUnderstandResultsPageButton, #contactUsUnderstandMainPageButton {
    font-size: 20px;
    margin-left: 10px;
    text-transform: uppercase;
}

#contactUsIfYouWantDetailsPageButton {
    margin-left: 0;
}


#contactUsFeaturesDetailsPageButton, #contactUsFeaturesDetailsPageButtonM {
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
}

#contactUsFeaturesDetailsPageButton {
    margin-bottom: 10px;
}

.fullBg {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
}

.inputs {
    /*margin-top: 20px;*/
    /*margin-top: 15vh;*/
    /*height: 90vh;*/
    height: 750px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centering-block {
    /*flex: 1;*/
    margin: auto;
    text-align: center;
    padding: 0 0 260px 0;
}
.centering-block2 {
    /*flex: 1;*/
    margin: auto;
    text-align: center;
    padding: 100px 0 100px 0;
}

.form-container {
    padding: 8px;
    border-radius: 2px;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    display: inline-block;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 616px;
}

.chevron {
    text-align: center;
    height: 10vh;
}

.chevronLink {
    cursor: pointer;
    color: #FFFFFF;
    margin-bottom: 2vh;
}

a.chevronLink:hover {
    color: #e6e6e6 !important;
}


.topImgCover {
    position: absolute;
    top: -260px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.testimonials {
    /*height: 24vh;*/
    margin-top: 280px;
    padding-bottom: 50px;
}

.testimonialsHeader {
    font-size: 30px;
    font-weight: 300;
    color: #949494;
    margin-bottom: 60px;
}

.testimonialsRow {
    /*padding-top: 100px;*/
    /*height: 24vh;*/
}

.topBarDesktop {
    /*height: 10vh;*/
}

.contactLinkMainPage {
    font-size: 20px;
    margin-top: 50px;
}

.contactLinkResultsPage {
    font-size: 16px;
    margin-top: 30px;
}


.contactLinkResultsPage:hover, .contactLinkMainPage:hover {
    text-decoration: none !important;
}

.button {
    margin-left: 10px;
    float: right;
}

.buttonMain {
    margin-left: 30px;
    float: right;
}


.inputLabel2 {
    font-family: 'Open Sans', sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 300;
    font-size: 60px;
    color: #949494;
    margin-bottom: 30px;
}

.inputLabel {
    font-family: 'Open Sans', sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 300;
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 30px;
}
.inputSecondaryLabel {
    font-size: 28px;
}

.twitter-typeahead {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.inputText {
    font-family: 'Open Sans', sans-serif;
    /*font-weight: bold;*/
    font-size: 24px;
    color: #585858;
    margin-top: 8px;
    margin-bottom: 0px;
}

.inputField {
    width: 390px !important;
    height: 60px;
    padding-left: 24px;
    padding-right: 24px;
    display: table-cell;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.inputFieldResults {
    width: 340px !important;
    height: 60px !important;
    display: table-cell;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ccc;
}


.macImg {
    top: -270px;
    position: relative;
}

/**

Autocomplete

*/

.tt-menu,
.gist {
    text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 60px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #896ad0;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: rgba(255, 255, 255, 0)
}

.tt-menu {
    width: 100%;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 12px 24px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #896ad0;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #896ad0;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}


select {
    width: 262px !important;
    height: 55px;
    cursor: pointer;
    display: table-cell;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: #959595 !important;
    padding-left: 10px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*background: url(../img/dropdown.png) 96% / 15%;*/
    background: url('//cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png') no-repeat right;
    /*background: url('../img/dropdown.png') no-repeat right;*/
    background-position-x: 232px;
}

.buttonBox {
    display:inline-block;
}

.buttonBoxMain {
    float: left;
}

.input {
    /*margin-left: 20%;*/
    /*float: right;*/
}

.inputMain {
    margin-left: 21.5%;
    /*float: right;*/
}

.buttonGo {
    height: 60px;
    width: 180px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    /*font-size: 5vw;*/
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    background: #00aced none;
}


.buttonGoResults {
    height: 40px;
    width: 73px;
    font-size: 22px;
}



button.buttonGo:hover {
    color: #ffffff;
    background: #009bd4 none;
}

hr.or {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
    border: none;
    border-top: thin solid #d9d9d9;
    color: #959595;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}

hr.or:after {
    content: "OR";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 2em;
    background: white;
}
.examples {
    margin-top: 130px;
}

.exampleLink {
    margin-bottom: 5px;
    padding-right: 15px;
    color: #32abde;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    /*text-decoration: underline;*/
    display: block;
}


.secondExample {
    margin-top: 12px;
}

.pagination>.disabled>a {
    pointer-events: none !important;
}


.searchResultsCard {
    background-color: #f7f7f7;
    /*background-color: #bbbbbb;*/
    margin-bottom: 30px;
    padding: 15px;
}
.searchResultsCardTitle {
    overflow: hidden;
}

.searchResultsCardTitle img {
    margin-right: 12px;
    float: left;
}

.searchResultsCardTitle a {
    font-family: 'Open Sans', sans-serif;
    color: #32abde;
    font-weight: 700;
    font-size: 20px;
}

.searchResultsCardTitle p {
    /*font-family: 'Verdana', sans-serif;*/
    color: #32abde;
    font-size: 12px;
    margin-bottom: 0;
}

.searchResultsCardTitle p.category {
    font-family: 'Open Sans', sans-serif;
    /*font-weight: 700;*/
    color: black;
    font-size: 14px;
    margin-bottom: -5px;
}

.searchResultsCardTitle p.flags {
    /*font-family: 'Verdana', sans-serif;*/
    font-size: 12px;
    color: #32abde;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid transparent;
    border-color: #32abde;
    border-radius: 2px;
    background-image: none;
    background-color: white;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}

.headerInput {
    margin-top: 20px;
}

.searchIcon {
    display: none !important;
    color: #32abde;
    position: absolute;
    padding-top: 20px;
    right: 52px;
    top: 14px;
}

.searchAgain {
    font-family: 'Open Sans', sans-serif;
    color: #585858;
    margin-top: 21px;
    /*margin-top: 32px;*/
    margin-bottom: 0px;
    /*font-size: 20px;*/
}

.searchAgainButton {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-weight: 700;*/
    /*color: #32abde;*/
    /*font-size: 22px;*/
    /*cursor: pointer;*/

    margin-top: 6px;
    padding-bottom: 4px;
    height: 40px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    background-image: none;
    background-color: #32abde;

}

.searchAgainButton2 {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-weight: 700;*/
    /*color: #32abde;*/
    /*font-size: 22px;*/
    /*cursor: pointer;*/

    margin-top: 21px;
    height: 60px;
    width: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    background-image: none;
    background-color: #32abde;
}


.searchAgainButton3 {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-weight: 700;*/
    /*color: #32abde;*/
    /*font-size: 22px;*/
    /*cursor: pointer;*/

    margin-top: 21px;
    padding-bottom: 4px;
    height: 40px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    background-image: none;
    background-color: #32abde;

}

.searchAgainButton2 i {
    font-size: 30px;
}

.searchAgainContainer {
    margin-bottom: 40px;
    margin-top: 20px;
}

.noResults {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #585858;
}

.appFeedbackLink {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    color: #7a7a7a;
}

a:hover.appFeedbackLink {
    text-decoration: none;
    color: #7a7a7a;
}

.teaser {
    /*text-align: center;*/
    font-style: italic;
    margin-bottom: 0;
    /*padding-left: 20px;*/
    color: #565656;
}

.teaser > a {
    cursor: pointer;
}

.quotes {
    height: 50px;
}

.appImg {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 88px;
    /*width: 88px;*/
    /*margin-bottom: 10px;*/
}

.appInfoContent {
    margin-left: -20px;
}

.metaData {
    text-align: right;
}

metaSpan {
    float: left;
}

.detailsPage > .appImg {
    height: 140px;
    width: 140px;
}


.appInfoRow {
    /*height: 134px;*/
}

.testimonialsImg {
    display: inline;
    /*height: 48px;*/
    /*max-width: 86px;*/
    margin-bottom: 20px;
}

.testimonialsContent {
    margin-top: 1%;
    /*margin-top: 6%;*/
}

.testimonialsText {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    height: 90px;
    color: #787878;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonialsText p {
    margin: 0;
}

.testimonialsAuthorRow {
    margin-top: 0%;
}
.testimonialsAuthor {
}

.testimonialsAuthor p {
    margin: 0;
    font-size: 14px;
    color: #a9a9a9;
}

.verticalAlign {
    margin-top: 10px;
}

.flexAuthor {
    display: flex;
    align-items: center;
    justify-content: center;

}

.bubble {
    display: table;
    margin-top: 6px;
    width: 100%;
    height: 50px;
    /*padding-top: 5px;*/
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    color: #585858;
    border: solid 1px #EFEFEF;
    font-style: italic;
}

.bubble span {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
}

.dataBubble {
    display: table;
    margin-top: 4px;
    width: 100%;
    height: 80px;
    padding: 5px 20px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #EFEFEF;
    text-align: center;
    color: #585858;
    font-style: italic;
}

.dataSlider {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0;
    height: 50px;
    margin-top: 0px;
}

.dataBubble span {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}

.dataBubble authorData {
    color: #a9a9a9;
    font-size: 14px;
}

.dataBubble authorData i {
    font-size: 12px;
    vertical-align: middle;
}


ul.opinionsList, span > .opinionsList {
    list-style: none;
    padding-left: 0px;
    font-size: 16px;
    border-radius: 4px;
}

.opinionsList > .dark {
    background: #009CD7;
    border: solid 1px #009CD7;
    font-weight: 900;
    color: #FFF;
    cursor: default;
}

.opinionsList > span, .featuresButton {
    display: inline-block;
    /*background-image: linear-gradient(to bottom, #f3f3f3 0, #dbdbdb 100%);*/
    background: #FAFAFA;
    color: #7E7E7E;
    border: solid 1px #BDBDBD;
    border-radius: 4px;
    padding: 1px 7px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    -moz-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease-in-out, background-color 0.3s ease;
}


.opinionsList > span > span.loadingIcon {
    display: none;
}

.opinionsList > span.loading > span {
    display: none;
}

.opinionsList > span.loading > span.loadingIcon {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

.hideBlock {
    position: absolute;
    color: #d9534f;
    padding-left: 5px;
    right: 6px;
    top: 4px;
    background: -moz-linear-gradient(left, rgba(250,250,250,0) 0%, rgba(250,250,250,1) 20%, rgba(250,250,250,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 20%,rgba(250,250,250,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 20%,rgba(250,250,250,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fafafa', endColorstr='#a6fafafa',GradientType=1 ); /* IE6-9 */
}

i.hideBlock:hover {
    color: #d2322d;
}


button > i {
    /*margin-right: -6px;*/
}

.desktopVisible {
    display: inline-block;
}

.mobileVisible {
    display: none;
}


.hideOnDesktop {
    display: none !important;
}

.restBlocks {
    display: none !important;
}

.moreBlocksButton {
    color: #BABABA !important;
    cursor: pointer;
}

.moreVerbsButton {
    display: inline-block;
    /*background-image: linear-gradient(to bottom, #f3f3f3 0, #dbdbdb 100%);*/
    /*background: #FAFAFA;*/
    color: #BABABA;
    /*border: solid 1px #BDBDBD;*/
    /*border-radius: 4px;*/
    /*padding: 1px 7px;*/
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    /*-webkit-transition: color 0.3s ease, background-color 0.3s ease;*/
    /*-moz-transition: color 0.3s ease, background-color 0.3s ease;*/
    /*transition: color 0.3s ease-in-out, background-color 0.3s ease;*/
}



.userQuote {
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
}

.userQuoteTitle {
    display: inline-block;
    font-size: 20px;
    margin: 0 4px 0 0;
    /*font-style: italic;*/
}

.editLabelIcon {
    font-size: 16px;
    /*margin-left: 4px;*/
}

.userQuote > span {
    font-weight: bold;
}

.authorDate {
    font-size: 14px;
    color: #C8C8C8;
    font-style: italic;
}

.authorDate > i { /* rating stars */
    font-size: 11px;
    vertical-align: middle;
    margin-right: 0px;
}

.quotesSpacing {
    margin-top: 16px;
    margin-bottom: 12px;
}

.description {
    display: table;
    margin-top: 1px;
    width: 100%;
    height: 40px;
    padding-right: 10px;
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.morecontent span {
    display: none;
}

.morelink {
    cursor: pointer;
}


.teaser-text-left {
    text-align: left;
}

.teaser-text-right {
    text-align: right;
}

.showMore {
    margin-top: 15px;
    /*margin-bottom: 30px;*/
    height: 50px;
    width: 100%;
    font-size: 14px;
    color: #32abde;
    border: 1px solid #32abde;
    border-radius: 4px;
    background-image: none;
    background-color: white;
}


.appstoreLink {
    vertical-align: middle;
    margin-top: 15px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    background-image: none;
    background-color: #32abde;
}

.appstoreLinkTextOnly {
    color: #32abde;
    cursor: pointer;
}

.appstoreLinkTextOnly:hover {
    /*font-weight: bold;*/
}

a.appstoreLink {
    padding-top: 13px;
}

.appstoreLink:hover {
    background-color: #2786ae;
    color: white;
    text-decoration: none;
}

.appstoreLinkDetailsPage {
    font-size: 16px;
}

.dataSection {
    margin-top: 20px;
}

.smallParagraph {
    font-size: 12px;
}


.appNameTitle {
    font-size: 20px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #32abde;
    display: inline-block;
    white-space: nowrap;
}

.appNameTitleResultsPage {
    font-size: 1.1em !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #32abde;
    display: inline-block;
}

.appNamePrice {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #464646;
    display: inline-block;
}

.noPaddingLeft {
    padding-left: 0px;
}

.appMetaSection {
    background-color: #FAFAFA;
    border: 1px solid transparent;
    border-color: #EFEFEF;
    border-radius: 4px;
    padding: 12px;
    /*padding-bottom: 50px;*/
    /*height: 526px;*/
}

.sticky {
    width: 1140px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#appMeta {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#appMetaSpacer {
    display: none;
    height: 352px;
}

@media (max-width: 1200px) {
    .sticky {
        width: 970px;
    }
}

@media (max-width: 992px) {
    .sticky {
        width: 750px;
    }
}
@media (max-width: 768px) {
    .sticky {
        width: 100%;
    }
}



.sticky img.appImg {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 70px;
    width: auto;
}


.chartSection {
    background-color: #FAFAFA;
    border: 1px solid transparent;
    border-color: #EFEFEF;
    border-radius: 4px;
    padding: 12px;
}


#chartHider {
    text-align: center;
    cursor: pointer;
}

#chartContainer {
    height: auto;
}

.appResultsMetaSection {
    margin-top: 20px;
}

.appMetaSection img {
    margin-right: 8px;
    float: left;
    border-radius: 4px;
}

/*.appMetaSection a {*/
/*font-family: 'Open Sans', sans-serif;*/
/*color: #32abde;*/
/*font-weight: 700;*/
/*font-size: 20px;*/
/*}*/




.appMetaSection p {
    color: #32abde;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}

.appMetaSection p > i {
    font-size: 16px;
}

.appMetaSection p.category {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.appMetaSection p.flags {
    font-size: 12px;
    color: #32abde;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid transparent;
    border-color: #32abde;
    border-radius: 4px;
    background-image: none;
    background-color: white;
    float: left;
    margin-right: 5px;
    margin-top: 4px;

}



.similarApp {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    /*text-align: center;*/
}
.similarApp a {
    display: block;
    margin-top: 10px;
    color: #009CD7;
}

.similarApp p.title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
}

.similarApp img {
    height: 34px;
    width: 34px;
    border-radius: 4px;
    border: solid 1px #EFEFEF;
    margin-top: 2px;
}

.similarApp > .rating {
    margin-top: -6px;
}

.similarApp > .rating > i {
    font-size: 12px;
}

.quotesTitle {
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    display: inline-flex;
    font-size: 14px !important;
}

.appScreensSection {
    background-color: #FAFAFA;
    border: 1px solid transparent;
    border-color: #EFEFEF;
    border-radius: 4px;
    padding: 20px;
    /*height: 500px;*/
}
.appFeedbackContainer {
    margin-top: 14px;
    font-weight: 400;
}

.appFeedbackContainer a {
    color: #C3C3C3;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 10px;

}

#slider-wrapper {
    height: 100%;
    padding-bottom: 5px;
    position: absolute;
    top: -20px;
    right: -16px;
    width: 15px;
    z-index: 2;
    box-shadow: -7px 0px 7px -7px black;
}

#slider-outer {
    width: 318px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding: 5px 0;
}

#slider {
    width: 3880px;
    margin: 0px;
    padding: 0px;
    height: 32px;
}

#slider-inner {
    padding: 5px;
    padding-left: 0px;
}

#slider div {
    margin: 0px;
    float: left;
    padding: 0 10px 0 1px
}

#slider div img {
    padding: 0px;
    margin: 0px;
    box-shadow: -2px 2px 3px #999;
}


/* Slider-filter section */


.filterButton {
    background: #FAFAFA;
    color: #7E7E7E;
    border: solid 1px #BDBDBD;
    border-radius: 4px;
    margin-top: 4px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    -moz-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease-in-out, background-color 0.3s ease;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #000;
    background-color: rgb(228, 228, 228);
}


#slider-range {
    margin-top: 20px;
    margin-left: 8px;

    /*width: 95%;*/
    /*margin-left: 2.5%;*/
}

.ui-widget-header {
    background: #2593d0 50% 50% repeat-x;
}

.ui-state-focus, .ui-state-hover {
    border: 1px solid #969696 !important;
    background: #dedede 50% 50% repeat-x !important;
    color: #1c94c4 !important;
}

/* Use this selector to override the line style on a given series */
.ct-line {
    stroke-width: 5px;
}
.ct-series-a .ct-line{
    stroke: #2593d0;
    cursor: pointer;
}
.ct-series-b .ct-line{
    stroke: #896ad0;
    cursor: pointer;
}
.ct-series-c .ct-line{
    stroke: #3cd0cf;
    cursor: pointer;
}
.ct-series-d .ct-line{
    stroke: #8ba4d0;
    cursor: pointer;
}

.ct-label {
    font-size: 1.1rem;
}

#ratingFilter {
    margin-top: 20px;
    display: inline;
}

#filterSign {
    font-size: 2.2em;
    vertical-align: middle;
    display: inline;
}

#ratingFilter i {
    color: #5A5A62;
}

.btn-group, .btn-group-vertical {
    display: inline-block;
}

#ratingFilter .btn-default {
    background-color: #FFFFFF;
}

#ratingFilter .btn-default.active {
    background-color: #F9F9F9;
}

.ratingFilterBtn {
    width: 100px;
}

.legendContainer {
    margin-top: 14px;
}
.legendText {
    margin-left: 10px;
    margin-right: 20px;
    display: inline;
    vertical-align: middle;
}
.legendButton {
    vertical-align: middle;
    display: inline;
    height: 10px;
    width: 60px;
}

.stabilityLegend {
    background-color: #2593d0;
}
.usabilityLegend {
    background-color: #3cd0cf;
}
.satisfactionLegend {
    background-color: #896ad0;
}

/*
#2593d0; - stability
    cursor: pointer;
}
.ct-series-b .ct-line{
    stroke: #896ad0; best
    cursor: pointer;
}
.ct-series-c .ct-line{
    stroke: #3cd0cf; - easy to use
    */

#scrollbar {
    position: relative;
    width: 318px;
    height: 12px;
    display: block;
    font-size: 1px;
    top: 0px;
    margin: 4px auto 0 auto;
}

#track {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 318px;
    height: 8px;
    background: #eee;
    box-shadow: inset 1px 1px 1px #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#dragBar {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -1px;
    margin-left: -1px;
    width: 20px;
    height: 6px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #aaa;
    border: solid 1px #888;

    box-shadow: inset 0px 1px 1px #ccc;
}

.ca-nav *, #scrollbar, #track, #dragBar, #left, #right {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none
}

.ca-item-main {
    border-radius: 5px;
}


.sectionTitle {
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #5A5A62 !important;
}


.textSection {
    margin-top: 30px;
}

.featureButton {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #32abde;
    cursor: pointer;
    display: inline-block;
}

.featureTriangle {
    margin-left: 10px;
}

.sorry {
    font-style: italic;
    text-align: center;
    vertical-align: middle;
}

.userTestimonials {
    margin-top: 14px;
}

.sectionDivider {
    margin-top: 30px;
    border-top: 0;
}

.valueProposition {
    margin-top: 100px;
    margin-bottom: 100px;
}

.valuePropositionImg {
    /*height: 230px;*/
    max-width: 100%;
    height: auto;
}

.valuePropositionRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.valuePropositionContentLeft {
    margin-left: 30px;
}
.valuePropositionContentRight {
    margin-right: 30px;
}

.valuePropositionLink {
    margin-top: 6vh;
    margin-bottom: 14vh;
}
.valuePropositionLast {
    margin-bottom: 10vh;
}

.valuePropositionTitle {
    font-size: 30px;
    color: #a48dda;
    font-weight: 300;
}
.valuePropositionText {
    font-size: 16px;
    color: #7f7f7f;
    font-weight: 300;
    line-height: 30px;
    margin-top: 30px;
}

.valuePropositionTextMarginTop {
    margin-top: 40px;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.valuePropositionDivider {
    border: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    content: '';
    /*position: absolute;*/
    top: 1px;
    width: 100%;
    height: 1px;
    /*background: -moz-linear-gradient(left, rgba(217,217,217,0) 0%, rgba(217,217,217,0) 15%, #eaeaea 50%, rgba(217,217,217,0) 85%, rgba(217,217,217,0) 100%);*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(217,217,217,0)), color-stop(15%, rgba(217,217,217,0)), color-stop(50%, #d9d9d9), color-stop(85%, rgba(217,217,217,0)), color-stop(100%, rgba(217,217,217,0)));*/
    /*background: -webkit-linear-gradient(left, rgba(217,217,217,0) 0%, rgba(217,217,217,0) 15%, #d9d9d9 50%, rgba(217,217,217,0) 85%, rgba(217,217,217,0) 100%);*/
    /*background: -o-linear-gradient(left, rgba(217,217,217,0) 0%, rgba(217,217,217,0) 15%, #d9d9d9 50%, rgba(217,217,217,0) 85%, rgba(217,217,217,0) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(217,217,217,0) 0%, rgba(217,217,217,0) 15%, #d9d9d9 50%, rgba(217,217,217,0) 85%, rgba(217,217,217,0) 100%);*/
    /*background: linear-gradient(to right, rgba(217,217,217,0) 0%, rgba(217,217,217,0) 15%, #d9d9d9 50%, rgba(217,217,217,0) 85%, rgba(217,217,217,0) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0a0a0', endColorstr='#00a0a0a0',GradientType=1 );*/
}

.modelsDivider {
    border: 0;
    margin-top: 16px;
    margin-bottom: 10px;
    content: '';
    /*position: absolute;*/
    top: 1px;
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, rgba(217,217,217,0.8) 0%, rgba(217,217,217,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(217,217,217,0.8)), color-stop(100%, rgba(217,217,217,0)));
    background: -webkit-linear-gradient(left, rgba(217,217,217,0.8) 0%, rgba(217,217,217,0) 100%);
    background: -o-linear-gradient(left, rgba(217,217,217,0.8) 0%, rgba(217,217,217,0) 100%);
    background: -ms-linear-gradient(left, rgba(217,217,217,0.8) 0%, rgba(217,217,217,0) 100%);
    background: linear-gradient(to right, rgba(217,217,217,0.8) 0%, rgba(217,217,217,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0a0a0', endColorstr='#00a0a0a0',GradientType=1 );
}

.blankDivider {
    border: 0;
    margin-top: 60px;
    margin-bottom: 60px;
    content: '';
    /*position: absolute;*/
    top: 1px;
    width: 100%;
    height: 1px;
}

.userRequestsSectionDivider {
    margin-top: 30px;
    border-top: 0;
    color: #DBDBDB;
    background-color: #DBDBDB;
    height: 1px;
}

.shareButtons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.column {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.column-mid {
    width: 25%;
}

.column-left {
    width: 37.5%;
}

.column-right {
    width: 37.5%;
}


.footerBg {
    background-color: #e1e4ea;
}

.footerContainer {
    margin-top: 80px;
    margin-bottom: 30px;
}

.footer {
    margin-top: 0px;
}

.footerText {
    line-height: 26px;
    font-size: 14px;
    font-weight: 300;
    /*font-family: Verdana, sans-serif;*/
    color: #545365;
}
.footerText a {
    font-weight: 400;
}
.footerText a:hover {
    color: #2D2C3A;
    text-decoration: none;
}

.footerPoweredBy {
    font-size: 16px;
}

.footerLogo {
    font-size: 26px;
    color: #00aced;
}

.footerLogo a:hover {
    color: #2D2C3A;
    text-decoration: none;
}

.footerMargin {
    margin-top: 30px;
}

.logo {
    margin-top: 16px;
}

.footerPoweredByText {
    margin-top: 10px;
    line-height: 1.5em;
    font-size: 12px;
    color: #B2B2B2;
    margin-bottom: 0;
}

.footerBold {
    font-size: 20px;
    font-weight: 700;
    color: #32abde;
}

/* MOBILE */


@media (max-width   :992px) {

    .container {
        width: 900px;
    }

    body{
        -webkit-text-size-adjust: none;
    }

    .hideBlock {
        display: block;
    }

    .topImgCover {
        top: -170px;
    }

    kbd, kbdhead {
        font-size: 18px !important;
    }

    .containerNarrow {
        padding-left: 0px;
        padding-right: 0px;
    }

    .modal-content {
        padding: 20px;
    }

    .modal-dialog {
        width: 80%;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .modal-title {
        font-size: 50px;
    }

    .modalText {
        font-size: 36px;
    }

    .modalFooterText {
        font-size: 36px;
    }

    .modalPlaceholder {
        margin-top: 50px;
        font-size: 36px;
        height: 70px;
    }

    .modalPlaceholder::-webkit-input-placeholder {
        font-size: 36px;
    }

    .modalButton, .recentButton {
        font-size: 36px;
    }

    .metaData {
        text-align: left;
    }

    .recentButton {
        font-size: 28px;
        width: 428px;
        margin-right: 0;
        height: 66px;
        padding-top: 12px;
    }

    .mvpTitle {
        text-align: center;
        font-size: 36px;
    }

    .recentButtonsContainer {
        margin-left: 0px;
        position: initial;
    }


    .modalButton {
        margin-top: 20px;
    }

    .userQuoteTitle {
        font-size: 40px;
    }

    .userQuote {
        font-size: 30px;
    }

    .quotesSpacing {
        margin-top: 26px;
        margin-bottom: 22px;
    }

    .authorDate {
        font-size: 20px;
    }

    .authorDate > i { /* rating stars */
        font-size: 14px;
        vertical-align: middle;
        margin-right: 18px;
    }

    .close {
        font-size: 60px;
    }

    .button {
        width: 100%;
    }

    .buttonBox {
        float: none;
        display: block;
    }

    .buttonBoxMain {
        float: none;
        display: block;
    }

    .inputs {
        height: 1000px;
        /*margin-top: 20px;*/
        margin-top: 0px;
    }

    .form-inline {

        width: 100%;
    }

    .form-container {
        max-width: none;
    }

    .button, .buttonMain, .input, .inputMain{
        margin-left: 0px;
    }

    .moreVerbsButton {
        font-size: 40px;
    }


    .header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .searchIcon {
        padding-top: 8px;
        right: 20px;
        color: #896ad0;
        display: inline !important;
    }
    .headerInput {
        display: none;
    }

    .titleMainText {
        font-size: 36px;
        display: inline-block;
    }

    .titleSubText {
        font-size: 24px;
        margin-left: 0px;
    }

    .titleLogo {
        width: 200px;
        margin-left: 0;
    }

    .valuePropositionDivider {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .valuePropositionImg {
        margin-top: 40px;
    }

    .valuePropositionTitle {
        font-size: 42px;
    }

    .valuePropositionText {
        text-align: center;
        line-height: 40px;
        font-size: 30px;
    }

    .input-group-btn > button {
        height: 100px;
        font-size: 30px;
    }

    .input-group > input {
        font-size: 36px;
        height: 100px;
    }

    .spam {
        font-size: 30px;
    }

    .input-group > input::-webkit-input-placeholder {
        font-size: 36px;
    }

    .exampleLink {
        text-align: center;
    }
    a.titleLink {
        text-decoration: none;
    }

    select {
        width: 100% !important;
        height: 100px;
        font-size: 40px;
        margin-top: 10px;
        appearance: none;
        background: url('//cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png') no-repeat right;
        background-position-x: 812px;
    }

    .column {
        text-align: center;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .column-mid {
        width: 100%;
    }

    .column-left {
        width: 100%;
    }

    .column-right {
        width: 100%;
        margin-top: 20px;
    }



    #contactUsUnderstandDetailsPage, #contactUsIfYouWantDetailsPage,
    #contactUsUnderstandResultsPage, #contactUsUnderstandMainPage,
    #contactUsFeaturesDetailsPage {
        font-size: 30px;
        text-align: center;
        margin-bottom: 0;
        vertical-align: middle;
        display: block;
    }




    #contactUsUnderstandDetailsPageButton, #contactUsIfYouWantDetailsPageButton,
    #contactUsUnderstandResultsPageButton, #contactUsUnderstandMainPageButton,
    #contactUsFeaturesDetailsPageButton, #contactUsFeaturesDetailsPageButtonM {
        font-size: 40px;
        margin-bottom: 0;
        vertical-align: middle;
    }

    #contactUsIfYouWantDetailsPageButton {
        width: 100%;
    }



    .modalCenterOnMobile {
        text-align: center;
        margin-bottom: 40px;
    }

    .tt-suggestion {
        padding: 20px 30px;
        font-size: 40px;
        line-height: 50px;
    }

    .buttonGoMobile {
        height: 100px;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 300;
        border: 1px solid transparent;
        border-radius: 2px;
        background: #896ad0;
    }

    .buttonGo {
        width: 100%;
        height: 100px;
        font-size: 46px;
        margin-top: 20px;
    }

    .inputField {
        width: 100% !important;
        height: 100px;
        font-size: 40px;
    }

    ::-webkit-input-placeholder {
        font-size: 46px;
        padding-left: 10px;
    }

    .inputField::-webkit-input-placeholder {
        font-size: 36px;
    }


    .inputLabel {
        font-size: 70px;
    }
    .inputSecondaryLabel {
        font-size: 30px;
    }
    .inputText {
        font-size: 50px;
    }

    hr.or {
        margin-bottom: 60px;
        margin-top: 70px;
        font-size: 28px;
    }

    .exampleTitle {
        font-size: 50px;
        margin-top: 30px;
    }

    .examplesHeader {
        color: #585858;
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .exampleLink {
        margin-bottom: 5px;
        color: #32abde;
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;

    }

    .exampleSectionTitle {
        text-align: center;
    }

    .searchResultsCard {
        margin-bottom: 70px;
    }

    .noResults {
        text-align: center;
    }

    .searchAgain {
        text-align: center;
        font-size: 50px;
    }

    .searchAgainButton {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
    }


    .searchAgainButton2 {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 68px;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    .teaser-text-left {
        text-align: center;
    }

    .teaser-text-right {
        text-align: center;
    }

    .appFeedbackContainer {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 30px;

    }

    .secondExample {
        margin-top: 70px;
    }


    .teaser {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .searchResultsCardTitle a {
        font-size: 60px;
    }

    .searchResultsCardTitle p.category {
        font-size: 40px;
        margin-bottom: -5px;
    }

    .searchResultsCardTitle p.rating {
        font-size: 26px;
    }

    .searchResultsCardTitle p.flags {
        font-size: 26px;
    }

    .sectionDivider {
        margin-top: 50px;
    }


    .appNameTitle {
        font-size: 48px !important;
    }

    .appNameTitleResultsPage {
        font-size: 48px !important;
    }

    .appMetaSection p > i {
        font-size: 32px;
    }

    .appMetaSection p {
        font-size: 32px;
    }

    .appMetaSection p.category {
        font-size: 32px;
    }

    .appMetaSection p.flags {
        font-size: 34px;
    }

    .appMetaSection a {
        font-size: 32px;
    }

    .appMetaSection img {
        margin-right: 16px;
    }

    .featureButton {
        font-size: 50px;
    }

    .quotesTitle {
        margin-top: 15px !important;
        margin-bottom: 10px !important;
        font-size: 30px !important;
    }

    .dataBubble span {
        font-size: 30px;
        font-size: 34px;
    }

    .dataBubble authorData {
        color: #a9a9a9;
        font-size: 24px;
    }

    .testimonials {
        margin-top: 340px;
    }

    .testimonialsImg {
        height: 80px;
    }

    .testimonialsText {
        margin-bottom: 0px;
        height: auto;
    }

    .testimonialsText p {
        -webkit-text-size-adjust: none;
        font-size: 32px;
    }

    .testimonialsAuthor {
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .testimonialsAuthor p {
        font-size: 16px;
    }

    .dataSlider {
        margin-top: 60px;
    }


    .sectionTitle {
        font-size: 50px;
    }

    .desktopVisible {
        display: none;
    }

    .mobileVisible {
        display: inline-block;
    }

    .hideOnMobile {
        display: none !important;
    }

    .hideOnDesktop {
        display: none !important;
    }


    .opinionsList > span, .featuresButton {
        font-size: 40px;
        margin-right: 16px;
        margin-top: 24px;
        padding: 4px 12px;
    }

    .opinionsList > span.loading > span.loadingIcon {
        margin-left: 140px;
        margin-right: 1400px;
    }

    .opinionsList > .dark {
        margin-top: 36px;
    }


    .description {
        font-size: 34px;
    }


    .similarApp {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .similarApp a {

        color: #009CD7;
    }

    .similarApp img {
        height: 200px;
        width: 200px;
        border-radius: 4px;
    }

    .appImg {
        height: 210px;
        width: 210px;
    }

    .appInfoContent {
        margin-left: 0;
    }

    .bubble {
        height: 100px;
        margin-top: 18px;
    }

    .bubble span {
        font-size: 26px;
    }

    .quotes {
        height: 120px;
    }

    .appstoreLink {
        height: 100px;
        font-size: 30px;
    }

    .appstoreLinkDetailsPage {
        font-size: 40px;
    }

    .contactLinkResultsPage, .contactLinkMainPage {
        margin-top: 50px;
        font-size: 30px;
    }

    a.appstoreLink {
        padding-top: 25px;
    }

    .showMore {
        height: 100px;
        /*font-family: 'Verdana', sans-serif;*/
        font-size: 30px;
    }

    .formMobile {
        width: 100%;
    }



    .footerText {
        font-size: 30px;
        line-height: 40px;
    }

    .footerPoweredBy {
        font-size: 30px;
    }
    .footerLogo {
        font-size: 40px;
    }

    .footerBold {
        font-size: 50px;
    }


    a.copyright {
        display: none;
    }

    .copyright {
        font-size: 30px;
        text-align: center;
    }

    .page-wrap {
        margin-bottom: -400px;
    }
    .text-center-mobile {
        text-align: center;
    }





}

@media (max-width:480px) {


    .buttonGo {
        width: 100%;
    }

    .inputField {
        width: 100%;
    }

}