
html,body {
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    /*padding: 20px;*/

    margin: 0;
    color: #5A5A62;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
    color: #FC9D9A;
}

a:hover {
    color: #FE4365;
    text-decoration: none;
}

.mobile-search-button {
    float: right;
    padding: 15px 15px;
    font-size: 2em;
}

.navbar-logo {
    float: left;
    padding: 15px 0px;
    font-size: 2em;

}

.form-container {
    padding: 25px 0px;
    float: right;
}

.form-container a {
    color: #a6a68b;
}

.geo-active {
    color: #FE4365;
}

.listed-place-container {

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    background-color: #F8F9FB;
    height: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border: solid 1px #dddee1;
    border-radius: 4px;
}

.listed-place-container:hover {

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    cursor: pointer;
    background-color: white;
    text-decoration: none;
}

.listed-place-photo, .place-photo {
    margin-right: 10px;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
}

.listed-place-photo>img, .place-photo>img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.listed-place-data {
    padding-left: 20px;
    padding-right: 10px;
}

.listed-place-name {
    color: #4b4f5d;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.listed-place-address {
    color: #4b4f5d;
}

.listed-place-rating {
    margin-top: 10px;
    color: #4b4f5d;
}

.next-page-container {
    position: relative;
}
.next-page-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}



/** Place details section **/

.place-data-container{
    width: 100%;
    height:300px;
    position:relative;
}

#map {
    width: 100%;
    height: 300px;
}

.place-cover {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background: linear-gradient(to bottom, rgba(131, 175, 155, 0), rgb(109, 109, 109));
}

.place-data {

    padding-top: 120px;
}

.place-photo {
    width: 140px;
    height: 140px;
    margin-left: 0px;
}

.place-name {
    color: #ededed;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.place-address, .place-rating {
    color: #ededed;
}

.section-title {
    color: #FC9D9A;
    margin-bottom: 40px;
}

.sub-section {
    margin-bottom: 20px;
}

.info-marker {
    color: #83AF9B;
}

.info-text {
    padding-left: 20px;
    margin-bottom: 0;
}

.left-border {
    border-left: 1px solid #C8C8A9;
}

.navigate-button {
    display: none;
}


/** Gallery **/
/** base by Oliver Knoblich (https://codepen.io/oknoblich/pen/ELfzd) **/

.gallery {
    margin: 0 auto;
    padding: 5px;
}

.gallery > div {
    transition: .3s transform;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 5px;
    width: 110px;
    height: 110px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.gallery > div > img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    height: 110px;
    display: block;
    transition: .1s transform;
    transform: translateZ(0); /* hack */
}

.gallery > div:hover {
    z-index: 1;
    overflow: visible;
    transition: .3s transform;
}

.gallery > div:hover > img {
    transform: scale(2.4,2.4);
    transition: .3s transform;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}

.review-container {
    border-bottom: 1px solid #83AF9B;
    margin-bottom: 30px;
}

.review-author {
    font-size: 1.2em;
    color: #FE4365;
    display: inline;
}
.review-date {
    display: inline;
}

.review-text {
    margin-top: 10px;
}


footer p {
    font-size: 0.8em;
    text-align: center;
}


@media (max-width :760px) {

    .form-container {
        float: none;
    }

    .search-multiselect {
        width: 78%;
        display: inline;
    }

    .search-button-geolocation {
        width: 20%;
        float: right;
        vertical-align: top;
        display: inline;
    }

    .search-button-submit {
        margin-top: 10px;
        width: 100%;
    }
}
